*{
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas{
  display: block;
  position: fixed;
  z-index: -1;
}
.portal{
  transform: rotateX(80deg);
}
footer{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 80vh;
}
.root{
  height: 100vh;
}
.header{
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
}
.header__title{
  height: inherit;
}
.nav{
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
}
.nav__button{
  width: 2rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  color: #BDF2E6;
  font-size: 3rem;
}
.nav__list{
  overflow: hidden;
  overflow-Y: auto;
  border-top: 10px solid #34474F;
  border-bottom: 10px solid #34474F;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-right: 5px double #34474F;
  height: 100%;
  padding-right: 3rem;
  background: linear-gradient(to right,#FAFAE9,#ADA8A2);
}

@keyframes bounceOutDown {
  50% {
    opacity: 1; transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(0, -20px, 0);
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100vh, 0) scale(0);
  }
}
.none{
  display: none;
}