
.nav{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: fixed;
  background: rgba(2, 2, 2, 0.9);
  z-index: 10;
  opacity: 0;
}
.nav__buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-buttons__pagination{
  background-color: transparent;
  border: none;
  color: #FAFAE9;
  width: 6rem;
  font-size: 2rem;
  font-weight: bold;
  transform: rotate(90deg);
  margin: 3rem 0;
  cursor: pointer;
}
.nav-buttons__pagination:hover{
  text-decoration: underline;
}

.nav__list{
  overflow-Y: auto;
  height: 90%;
  padding-right: 3rem;
}

.sidebar-list{
  list-style: none;
  color: #FAFAE9;
}
.sidebar-list button{
  all: unset;
  cursor: pointer;
}
.sidebar-list button:hover{
  border-bottom: 1px solid #FAFAE9;
}
.sidebar-list button:active{
  transform: scale(0.9);
}